includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
        - ../local/lib/laravel-wp-billing/src
        - ../local/lib/laravel-wp-currency/src
    excludePaths:
        - app/Console/Commands/*
        - app/Http/Resources/Api/*
    level: 6

    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        # Undefined property errors for OprAssetRelease models
        - '#Access to an undefined property App\\Domain\\Resource\\Mst\\Models\\OprAssetRelease::\$#'
        - '#Access to an undefined property App\\Domain\\Resource\\Mst\\Models\\OprAssetReleaseVersion::\$#'
        - '#Parameter \#1 \$id of class App\\Domain\\Resource\\Mst\\Entities\\OprAssetReleaseVersionEntity constructor expects string, int given#'
