services:
  setup:
    image: ruby:2.7
    working_dir: /project/schema
    command: ["sh", "-c", "bundle config set --local path 'vendor/bundle' && bundle install"]
      #command: ["sh", "-c", "bundle config set --local path 'vendor/bundle' && bundle update --bundler"]
    volumes:
      - .:/project/schema
    profiles:
      - setup 

  run_script:
    image: ruby:2.7
    working_dir: /project/schema
    command: ["sh", "-c", "bundle config set --local path 'vendor/bundle' && bundle exec ruby SchemaBuilder/build.rb"]
    env_file:
      - .env
    volumes:
      - .:/project/schema
      - ${CLIENT_DIR}:/project/client
      - ${SERVER_DIR}:/project/server
    profiles:
      - build 
