###
#
# laravel-wp-frameworkのdokcer-compose向け設定
# 
# docker-compose内での設定を変更します。
# このファイルを.evnにコピーまたはリネームして使用します。
#

### 
# サービス起動ポート
#
# docker-compose upで起動した際に、外部からアクセスするポートを指定します。
NGINX_PORT=8080
NGINX_ADMIN_PORT=8081
MYSQL_PORT=33060
REDIS_PORT=6379

###
# コンテナ終了時のポリシー
#
# docker-compose stopしたときの、restartを設定します。
#
# 設定値はno, always, on-failure, unless-stoppedから選択します。
# 詳細は次のURLを参考にしてください
#  https://docs.docker.com/compose/compose-file/05-services/#restart
#
CONTAINER_RESTART=no


XDEBUG_ENABLED=1

### 起動コンテナ群 ###
# 起動するコンテナの種類を指定する
#   local
#   phpfpm-newrelic
#   phpfpm-datadog
COMPOSE_PROFILES=local
