@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

main.fi-main {
    max-width: 100%;
    margin: 0 auto;
}

div.fi-topbar > nav > button.fi-topbar-open-sidebar-btn {
    order: 0;
}
div.fi-topbar > nav > div {
    order: 1;
}
div.fi-topbar > nav > div[x-persist="topbar.end"] {
    order: 2;
}
